/* public css for MayaTelecom*/

.maya_logbook_container div{
	margin-top: 5px;
}

.maya_logbook_container strong{
	margin-right: 10px;
	min-width: 170px;
}

.maya_logbook_container input[type="text"], select{
	width: 300px;
}

.maya_logbook_container textarea{
	max-width: 550px;
	max-height: 200px;
	min-width: 550px;
	min-height: 200px;
}

.maya_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  font-size: 18px;
  font-family: Helvetica;
}

.maya_table tr:nth-child(even) {
  background: #eee;
}

.maya_table input[type=checkbox]{
  margin-left: 10px;
}